<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>xuhy.layui</title>
    <link rel="stylesheet" href="../layui/css/layui.css">
</head>
<body>
<script src="../layui/layui.js"></script>

<form class="layui-form layui-form-pane" action="" onsubmit="return false" lay-filter="formm">
    <div class="layui-form-item">
        <label class="layui-form-label">姓名</label>
        <div class="layui-input-inline">
            <input type="text" name="ename" lay-verify="required" placeholder="请输入" autocomplete="off"
                   class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">工作</label>
        <div class="layui-input-inline">
            <input type="text" name="job" lay-verify="required" placeholder="请输入" autocomplete="off"
                   class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">经理</label>
        <div class="layui-input-inline">
            <input type="text" name="mgr" lay-verify="required" placeholder="请输入" autocomplete="off"
                   class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-inline">
            <label class="layui-form-label">入职日期</label>
            <div class="layui-input-block">
                <input type="text" name="hiredate" id="date1" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">工资</label>
            <div class="layui-input-inline">
                <input type="text" name="sal" lay-verify="required" placeholder="请输入" autocomplete="off"
                       class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">comm</label>
            <div class="layui-input-inline">
                <input type="text" name="comm" lay-verify="required" placeholder="请输入" autocomplete="off"
                       class="layui-input">
            </div>
        </div>
        <div class="layui-inline">
            <label class="layui-form-label">所在部门</label>
            <div class="layui-input-inline">
                <select name="deptno" id="did" lay-verify="">
                </select>
            </div>
        </div>
        <div class="layui-upload-drag" id="test1">
            <i class="layui-icon"></i>
            <p>点击上传，或将文件拖拽到此处</p>
            <div class="layui-hide" id="uploadDemoView">
                <hr>
                <img src="" alt="上传成功后渲染" style="max-width: 196px">
            </div>
        </div>
        <input type="hidden" name="img" id="img">
        <div class="layui-inline">
            <div class="layui-inline">
                <button class="layui-btn" lay-submit lay-filter="formDemo" id="sub" style="margin-top: 5px;">提交</button>
                <button type="reset" class="layui-btn layui-btn-primary" id="cz">重置</button>
            </div>
        </div>
    </div>

</form>

<script>
    //就绪
    layui.use(['layer', 'form', 'laydate','upload'], function () {
        var $ = layui.$, layer = layui.layer;
        var form = layui.form;
        var laydate = layui.laydate;
        var $ = layui.jquery,upload = layui.upload;

        laydate.render({
            elem: '#date1'
        });

        //多图片上传
        upload.render({
            elem: '#test1'
            ,url: '/upload' //改成您自己的上传接口
            ,field:'file'
            ,done: function(res){
                if(res.data[0].img!=''){
                    layer.msg("上传成功");
                    $('#img').val(res.data[0].img);
                    layui.$('#uploadDemoView').removeClass('layui-hide').find('img').attr('src', "/ssmupload/"+res.data[0].img);
                }else {
                    layer.msg("添加失败")
                }
            }
        });

        //表单监听提交
        form.on('submit(formDemo)', function(data){
            $.ajax({
                type: 'post'
                ,url:'/save'
                ,data:data.field//把表单的内容以键值对的方式绑定到接口 可以拿对象接收
                ,success:function (res) {
                    if(res>0){
                        layer.msg("添加成功");
                        //自动关闭弹出层
                        var index = parent.layer.getFrameIndex(window.name); //先得到当前iframe层的索引
                        parent.layer.close(index); //再执行关闭
                    }else{
                        layer.msg("添加失败");
                    }
                }
            })
        });

        $.ajax({
            type: "post",
            dataType: 'json',
            url: "/queryAllDept",
            success: function (data) {
                console.log(data);
                var html = " <option value='0'>请选择</option>";
                for (var i = 0; i < data.length; i++) {
                    html += "<option value=" + data[i].deptno + ">" + data[i].dname + "</option>"
                }
                $("#did").html(html);
                //下拉框渲染
                layui.form.render("select");
            },
            error: function () {
                layer.msg("出现错误");
            },
        })

    });
</script>


</body>
</html>